<div class="row">
  <div class="col-xs-12">
    <p class="text-muted"><i>Responde combinando una respuesta y un argumento</i></p>
  </div>
  <div class="col-sm-5">
    <% question.answers.each do |item| %>
      <div class="checkbox">
        <label>
          <%= radio_button_tag :answer, item[:n] %> <%= item[:text] %>
        </label>
      </div>
    <% end %>
  </div>
  <div class="col-sm-1 text-center">
    <p class="text-muted"><b><i>porque</i></b></p>
  </div>
  <div class="col-sm-6">
    <% question.arguments.each do |item| %>
      <div class="checkbox">
        <label>
          <%= radio_button_tag :argument, item[:n] %> <%= item[:text] %>
        </label>
      </div>
    <% end %>
  </div>
</div>
